* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: sPectral;
    src: url("/font/SpectralSC-Light.ttf");
}
body {
    font-family: 'sPectral';
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xxx-large;
    font-style: oblique;
    text-align: center;
}

h2 {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    display: block;
}

h3 {
    margin-top: 15px;
    font-style: oblique;
}

nav a{
    text-decoration: none;
    color: rgb(129, 126, 126);
    padding: 10px 30px;
    text-align: right;
    border-radius: 999px;
}

nav a:hover{
    background-color: rgb(199, 194, 194);
}

section{
    display: block;
    padding: 30px;
}

aside{
    display: inline-block;
    padding: 20px;
}
.baner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgban {
    height: 350px;
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container_logo{
    display: flex;
    float: none;
    width: 6rem;
    height: 6rem;
    flex-grow: 1;
}
.container_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    flex-direction: row-reverse;
}

.container_logo img{
    width: 100px;
    height: 100px;
}

.container_main {
    display: flex;
}
.img1 img{
    width: 180px;
    padding: 10px;
}

.rpp h2{
    border: none;
}

.rpp p{
    text-align: center;
}
p {
    text-indent: 1.5em;
    margin-top: 0;
}

footer {
    display: block;
    text-align: center;
    background-color: lightgray;
}

ul{
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 60px;
}

#min ol{
    list-style-type:lower-greek;
    list-style-position: inside;
}
ol{
  list-style-position: inside;  
}