* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'comic sans ms';
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xxx-large;
    font-style: oblique;
}

h2 {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    display: block;
}

h3 {
    margin-top: 15px;
    font-style: oblique;
}
nav{
    float: right;
}
nav a {
    text-align: right;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 3px 2px 1px darkgray;
    margin: 2px 2px 5px;
    position: relative;
    top: 5px;
}

section{
    display: inline-block;
    padding: 30px;
    position: absolute;
}

aside{
    display: inline-block;
    padding: 20px;
}

.imgban {
    width: 1518px;
    height: 350px;
    border: 1px solid black;
    display: block;
}

.logo img{
    width: 180px;
    padding: 10px;
}

.img1 img{
    width: 180px;
    padding: 10px;
}

p {
    text-indent: 1.5em;
    margin-top: 0;
}

footer {
    display: block;
    text-align: center;
    background-color: lightgray;
}

.colornav .home {
    background-color: rgb(86, 172, 86);
}

.colornav .contact{
    background-color:blue;
}

.colornav .about{
    background-color:blue;
}

.colornava .home {
    background-color: blue;
}

.colornava .contact{
    background-color:blue;
}

.colornava .about{
    background-color:rgb(86, 172, 86);
}
.colornavc .home {
    background-color: blue;
}

.colornavc .contact{
    background-color:rgb(86, 172, 86);
}

.colornavc .about{
    background-color:blue;
}
