* {
    box-sizing: border-box;
}

body {
    font-family: 'comic sans ms';
    margin: 0;
    padding: 0;
}

h1, h2{
    padding: 50px 20px;
    margin: 20px;
}

nav{
    padding: 0;
}

.aline{
    float: left;
    width: 200px;
}
